*{
  margin:  0;
  padding: 0;
}
/*-----Estilos de la pantalla de inicio movil-----*/
.first-screen{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/initial-screen.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  /*height: 700px;*/
  width: 100%;
  color: #fff;
}
/*-----Estilos primera columna-----*/
.firstCol{
  border-right: 0.1em solid #fff;
  margin-top: 8em;
  padding-left: 8em;
  padding-right: 3em;
}
.txtcol{
  font-size: 1.2em;
}
/*-----Estilos segunda columna-----*/
.secondCol{
  padding-left: 4em;
}
#form-autenticacion{
  padding-top: 4em;
}
.logoCol{
  padding-top: 4em;
}
.form-control{
  margin-bottom: 1em;
}
.loginButtons{
  padding-top: ;
}
.btn-init{
  margin-bottom: 1em;
  width: 100%;
  background-color: darkgreen;
  border: none;
  color: #fff;
}
.modal-header{
  text-align: center;
}
/*-----Estilos delperfil de usuario movil-----*/
.logoVerdePerfil{
  padding-top: 2em;
  width: 6%;
}
.userProfileMovil{
  height: 700px;
}
.perfirMovil{
  color: #fff;
  background-color: darkgreen;
  vertical-align: center;
}
.imgProfile{
  width: 35%;
  margin-bottom: 1em;
}
.perfilMovilTitle{
  font-size: 1.2em;
  padding-bottom: 0.2em;
}
header{
  position: fixed;
  z-index: 5;
  background-color: #fff;
  width: 100%;
}
section{
  margin-top: 6em;
}
footer{

}
#logo-verde{
  width: 5em;
  text-align: center;
}
span{
  font-size: 3em;
  color: darkgreen;
}
textarea {
	width: 100%;
	height: 4em;
	color: #4E4D53;
	font-size: 15px;
	padding: 1em;
	border-radius: 1em;
	border: none;
	margin: 0 auto;
}
#imgLoad{
  width: 25em;
  margin-bottom: 1em;
}
.newsfeed{
  background-color: #E1F0EB;
}
.box-post{
  background-color: #fff;
  border: 1px solid #E1F0EB;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
}
/* clase que se le agrega a la imagen en el newsfeed para separar las publicaciones*/
.margen-img{
  margin-top: 1em;
  margin-bottom: 2em;
}
.color-user{
  color: #0F7C5A;
  font-weight: bold;
}
.btnProfile{
  border: 0.1em solid gray;
  color: gray;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 0.3em;
}
.btnProfile input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.btnUpload {
  border: 0.1em solid gray;
  color: gray;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 30%;
  font-weight: bold;
}
.btnUpload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.btnData{
  border: 0.1em solid gray;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bold;
}
.btnSeguir{
  border: 0.1em solid gray;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
}
.followTitle{
  color: darkgreen;
  font-weight: bold;
}
