*{
  margin:  0;
  padding: 0;
}
/*-----Estilos de la pantalla de inicio movil-----*/
.first-screen{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/initial-screen-movil.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  height: 526px;
}
.logo{
  text-align: center;
  padding-top: 2em;
}
.form-control{
  margin-bottom: 1em;
}
.loginButtons{
  padding-top: 6em;
}
.btn-init{
  margin-bottom: 1em;
  width: 100%;
  background-color: darkgreen;
  border: none;
  color: #fff;
}

/*-----Estilos de la pantalla de inicio desktop-----*/
.first-screen-desktop{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/initial-screen.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 700px;
  color: #fff;
}
.desktopLeft{
  padding-top: 5em;
}
.desktopRigth{
  text-align: center;
  padding-top: 5em;
}
.logoDesktop{
  width: 40%;
}

/*-----Estilos delperfil de usuario mobile-----*/
.userProfileMovil{
  height: 526px;
}
.perfirMovil{
  text-align: center;
  color: #fff;
  background-color: darkgreen;
  vertical-align: center;
  
}
.perfilMovilTitle{
  font-size: 1.2em;
  padding-bottom: 0.2em;
}
span{
  font-size: 2em;
}
textarea {
	width: 70%;
	height: 4em;
	color: #4E4D53;
	font-size: 15px;
	padding: 1em;
	border-radius: 1em;
	border: none;
	margin: 0 auto;
}

/* Estilos botón agregar */
#btn {
	background-color: #66AEC7;
	border: 0px;
	cursor: pointer;
	text-align: center;
	margin: 3em auto;
	width: 130px;
	height: 30px;
	display: block;
	color: #FFF;
}

#btn:hover {
	background-color: #5590A6;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */
#cont {
	border-radius: 0.4em;
	width: 51em;
	margin: 0 auto;
	color: #4E4D53;
	text-align: left;
	margin-bottom: 6em;
}

#cont span {
	margin-left: 1em;
}

#cont div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}
